.rank{
    width: 25%;
}

.name{
    width: 30%;
}

.points{
    width: 27%;
}

.highlight {
    background-color: lightgreen;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* Gap between grid items */
}

.grid-container img {
    width: 100%; 
    height: auto;
}


.card {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 8rem;
    height: 9rem;
    padding: 3%;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 1%;
}
