<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-vh5EofkP5zbAnK45lqKu6d3Zz6xTlu47Ls9EmBR8kS86m07VSN1B3IV8L7h+P2BZ"
        crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <!-- My CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/data_types.css">

    <title>Basic Data Types!</title>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Python101</a> -->
          <img class="navbar-brand" src="static/img/logo-selected-transparent.png" width="100" height="60">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">My Badges</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

  </head>
  <body>

    <div>
        <h1 style="text-align:center; padding-top: 1%; padding-bottom: 1%; font-size: 300%; color: white;">Basic Data Types!</h1>
    </div>


    <div style="padding-left: 23%;">
        
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item data_type" style="background-color: gainsboro; font-weight: bold;">Data Type</li>
            <li class="list-group-item python_syntax" style="background-color: gainsboro; font-weight: bold;">Python Syntax</li>
            <li class="list-group-item description" style="background-color: gainsboro; font-weight: bold;">Description</li>
            <li class="list-group-item example" style="background-color: gainsboro; padding-left: 2.5%; font-weight: bold;">Examples</li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item data_type">String</li>
            <li class="list-group-item python_syntax">str</li>
            <li class="list-group-item description">Any sequence of characters enclosed in single or double quotes</li>
            <li class="list-group-item example">
                <ul>
                    <li>"Python is fun!"</li>
                    <li>"8"</li>
                  </ul>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item data_type">Integer</li>
            <li class="list-group-item python_syntax">int</li>
            <li class="list-group-item description">Any whole number</li>
            <li class="list-group-item example">
                <ul>
                    <li>25</li>
                    <li>-3</li>
                  </ul>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item data_type">Float</li>
            <li class="list-group-item python_syntax">float</li>
            <li class="list-group-item description">Any number with a decimal point</li>
            <li class="list-group-item example">
                <ul>
                    <li>0.378</li>
                    <li>-2.0</li>
                  </ul>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item data_type">Boolean</li>
            <li class="list-group-item python_syntax">bool</li>
            <li class="list-group-item description">One of 2 values, True or False</li>
            <li class="list-group-item example">
                <ul>
                    <li>True</li>
                    <li>False</li>
                  </ul>
            </li>
        </ul>
    </div>

    <div>
      <h1 style="text-align:center; padding-top: 3%; padding-bottom: 1%; font-size: 250%; color: white;">Concept Check Questions</h1>
    </div>


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false" style="width: 100%; padding-top: 1%; padding-bottom: 2%;">
      <div class="carousel-inner">
        {% for question in data_types_questions %}
        <div class="carousel-item {% if loop.first %}active{% endif %}" question-num="{{question.question_num}}" data-answered-correctly-before="false" data-answered-incorrectly-before="false" style="padding-left: 25%; padding-bottom: 2%;">
          <div class="card text-white bg-primary mb-3" style="width: 40rem;">
            <div class="card-header d-flex justify-content-between">
              Question {{question.question_num}} of {{data_types_questions|length}}
              <span class="badge badge-light">{{question.point_value}}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="font-family: monospace;">{{question.code}}</h5>
              <p class="card-text">
                {{question.question}}
                <form explanation="{{question.explanation}}" correct-answer="{{question.correct_answer}}" point-value="{{question.point_value}}">
                  <input type="radio" id="option1" name="options" value="option1">
                  <label for="option1">{{question.answer_choices[0]}}</label><br>
                  
                  <input type="radio" id="option2" name="options" value="option2">
                  <label for="option2">{{question.answer_choices[1]}}</label><br>
                  
                  <input type="radio" id="option3" name="options" value="option3">
                  <label for="option3">{{question.answer_choices[2]}}</label><br>

                  <input type="radio" id="option4" name="options" value="option4">
                  <label for="option4">{{question.answer_choices[3]}}</label><br>
                </form>
                <div id="message-{{question.question_num}}" style="background-color: lavender; color: black"></div>
                
              </p>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="padding-left: 13%;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="padding-right: 13%;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="row">
        <div class="col text-center">
          <!-- <div> -->
              <!-- <h4 id="percentCorrectText" style="margin-bottom: 6%; margin-top: -4%;">You've completed <span id="percentCorrectValue"></span>% of this activity</h4> -->
              <h4 id="completedText" style="margin-bottom: 6%; margin-top: -4%;"><span id="completedText"></span></h4>
              <button class="btn btn-secondary" style="margin-top: -9%;" onclick="resetDataTypesAnswered()">Start Over</button>
          <!-- </div> -->
        </div>
      </div>

      <script>
        function resetDataTypesAnswered() {
          data_types_answered = [
            {"question_num": '1', "answered": "false"},
            {"question_num": '2', "answered": "false"},
            {"question_num": '3', "answered": "false"},
            {"question_num": '4', "answered": "false"},
            {"question_num": '5', "answered": "false"},
            {"question_num": '6', "answered": "false"},
            {"question_num": '7', "answered": "false"},
          ]   

          sessionStorage.setItem('data_types_answered', JSON.stringify(data_types_answered));
          document.getElementById('completedText').textContent = "You have not started this activity!";
        }
      </script>


    <footer>
        <div id="points">My Points: 0</div>
    </footer>
    

  <script src="static/js/concept_check_dt.js"></script>
  </body>
</html>